
<div class="table-container">
    <h2 class="table-title">Lista de Productos</h2>
    <table class="custom-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of paginaActual">
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td><button class="update-btn" (click)="abrirModal(producto)">Actualizar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!--PAGINACION-->
<div class="pagination-controls">
    <button (click)="anterior()" class="pagination-btn" [disabled]="pagina === 1">Anterior</button>
    <span class="page-info">Pagina {{pagina}} de {{totalPaginas}}</span>
    <button (click)="siguiente()" class="pagination-btn" [disabled]="pagina === totalPaginas">Siguiente</button>
</div>

<!-- Modal -->
<div class="modal" *ngIf="modalVisible"> <!--UN IF PARA QUE SE MUESTRE SI LA PROPIEDAD modalVisible ES TRUE-->
    <div class="modal-content">
        <h2>Actualizar Producto</h2>
        <!---VINCULAMOS EL FORMULARIO CON EL FORMGROUP DEL ARCHIVO.TS-->
        <form [formGroup]="formularioUpdate" >
            <!---DIV PARA EL INPUT DE NOMBRE-->
            <div class="form-group">
                <label for="nombre">Nombre del producto</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control">
            </div>

            <!---DIV PARA EL INPUT DE PRECIO-->
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" id="precio" formControlName="precio" class="form-control">
            </div>
            <!--BOTONES--->
            <div class="modal-buttons">
                <!--BOTON QUE LLAMA A LA FUNCION ACTUALIZARPRODUCTO-->
                <button (click)="actualizarProducto()" type="submit" class="btn-save">Guardar</button>
                <!--SI CANCELO EN EL MODAL CIERRO EL MODAL-->
                <button type="button" class="btn-cancel" (click)="cerrarModal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>