
.carousel-item{
  min-height: 400px;
}

.carousel-caption{
  bottom: 150px;
  z-index: 2;
}

.carousel-caption h5{
  font-size: 3.25rem;
  font-weight: 610;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.carousel-caption p{
  width: 60%;
  margin: 10px auto;
  font-size: 0.9rem;
}

.carousel-caption p a{
  font-size: 0.7rem;
}

.carousel-inner img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  object-position: bottom;
}

.carousel-item img{
  object-position: 0%;
}

.carousel-item .Img8{
  object-position: 0%;
}

.carousel-item .Img4{
  margin-top: 50px;
  margin-bottom: -50px;
}

.carousel-inner:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.baby {
  border-top: 3px solid #d1ecf1;
  background: #dce7f1;  
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.baby-container {
  padding: 3rem;
  border-radius: 14px;
  background: #dce7f1;  
  box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  color: #333; 
}

.baby-container h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-weight: 610;
}

.baby-container p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 2;
  margin-bottom: 1.2rem;
}

.baby-content img {
  max-width: 45%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.baby-content img:hover {
  transform: scale(1.05); 
}

.section-icons {
  position: relative;
  background-image: url('../../../../public/drawable/fondoint.png'); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 20px; 
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

.box-icons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

.box-icons .d-flex {
  background: rgba(154, 208, 255, 0.15); 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  width: 100%;
  min-height: 160px; 
  display: flex;
  align-items: center; 
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(5px);
}

.box-icons .d-flex:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.custom-icon {
  font-size: 2.5rem;
  color: #d4e2f0; 
}

.box-icons h3 {
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
}

.box-icons p {
  font-size: 0.9rem;
  color: #ddd;
}
