
.carousel-item{
  min-height: 400px;
}

.carousel-caption{
  bottom: 140px;
  z-index: 2;
}

.carousel-caption p{
  width: 60%;
  margin: 10px auto;
  font-size: 0.9rem;
  opacity: 0;
  transform: translateY(25px);
  animation: fadeInUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.carousel-caption p a{
  font-size: 0.7rem;
}

.carousel-caption h5{
  font-size: 3.25rem;
  font-weight: 610;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(25px);
  animation: fadeInUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.carousel-inner img {
  width: 100%;
  height: 65vh;
  margin-top: 40px;
  object-fit: cover;
  object-position: bottom;
}

.carousel-item img{
  object-position: 0%;
}

.carousel-inner:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.29);
  z-index: 1;
}

.baby {
  border-top: 3px solid #d1ecf1;
  background: linear-gradient(to right, #e7f7fe, #d2effd);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.baby-container {
  padding: 3rem;
  border-radius: 14px;
  background: linear-gradient(to right, #e7f7fe, #d2effd);
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  color: #333; 
  transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
}

.baby-container h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-weight: 610;
  opacity: 0;
  transform: translateY(25px);
  animation: fadeInUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.baby-container p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 2;
  margin-bottom: 1.2rem;
  opacity: 0;
  transform: translateY(25px);
  animation: fadeInUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.baby-content img {
  max-width: 45%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0.8; 
  transform: translateX(30px) rotateY(90deg);
  animation: fadeIn3DRotate 1.5s cubic-bezier(0.25, 1, 0.5, 1) 0.3s forwards;
}

.baby-container:hover {
  box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn3DRotate {
    from {
        opacity: 0.8;
        transform: translateX(30px) rotateY(90deg); 
    }
    to {
        opacity: 1;
        transform: translateX(0) rotateY(0deg);
    }
}

.section-icons {
  position: relative;
  background-image: url('../../../../public/drawable/fondoint.png'); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 20px; 
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

.box-icons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

.box-icons .d-flex {
  background: rgba(154, 208, 255, 0.15); 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  width: 100%;
  min-height: 160px; 
  display: flex;
  align-items: center; 
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(5px);
}

.box-icons .d-flex:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.custom-icon {
  font-size: 2.5rem;
  color: #d4e2f0; 
}

.box-icons h3 {
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
}

.box-icons p {
  font-size: 0.9rem;
  color: #ddd;
}

@media (max-width: 800px) {
  .carousel-item {
    min-height: 300px;
  }

  .carousel-caption {
    top: 135px;
    bottom: 100px;
  }

  .carousel-caption h5 {
    font-size: 2.7rem;
  }

  .carousel-caption p {
    font-size: 1rem;
    width: 85%;
  }

  .carousel-inner img {
    height: 45vh;
  }

  .carousel-item img{
    object-position: 50%;
  }
}
