<div id="carouselE1" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselE1"
              data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"
      ></button>
      <button type="button" data-bs-target="#carouselE1"
              data-bs-slide-to="1"
              aria-label="Slide 2"
      ></button>
      <button type="button" data-bs-target="#carouselE1"
              data-bs-slide-to="2"
              aria-label="Slide 3"
      ></button>
      <button type="button" data-bs-target="#carouselE1"
              data-bs-slide-to="3"
              aria-label="Slide 4"
      ></button>
      <button type="button" data-bs-target="#carouselE1"
              data-bs-slide-to="4"
              aria-label="Slide 5"
      ></button>
      <button type="button" data-bs-target="#carouselE1"
              data-bs-slide-to="5"
              aria-label="Slide 6"
      ></button>
      <button type="button" data-bs-target="#carouselE1"
              data-bs-slide-to="6"
              aria-label="Slide 7"
      ></button>
       <button type="button" data-bs-target="#carouselE1"
              data-bs-slide-to="7"
              aria-label="Slide 8"
      ></button>
  </div>

  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="drawable/fondoint.png" class="d-block w-100" alt="">
          <div class="carousel-caption">
              <h5>Baby Save</h5> <p>"Tu bebé seguro, tu tranquilidad primero" 🍼💙</p>
          </div>
      </div>  
      <div class="carousel-item">
          <img src="drawable/fondoint.png" class="d-block w-100" alt="">
          <div class="carousel-caption">
              <h5>Baby Save</h5> <p>"Siempre cerca, siempre seguros 🍼💖"</p> 
          </div>
      </div>
      <div class="carousel-item">
        <img src="drawable/fondoint.png" class="d-block w-100" alt="">
          <div class="carousel-caption">
              <h5>Baby Save</h5> <p>"Cuidamos lo más valioso para ti" 🛡️👶</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="drawable/fondoint.png" class="d-block w-100" alt="">
          <div class="carousel-caption">
              <h5>Siempre Contigo</h5> <p>"Monitoreo en tiempo real para cada suspiro" 👶❤️</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="drawable/fondoint.png" class="d-block w-100" alt="">
          <div class="carousel-caption">
              <h5>Duerme Tranquilo</h5> <p>"Nosotros velamos sus sueños por ti" 🌙💤</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="drawable/fondoint.png" class="d-block w-100" alt="">
          <div class="carousel-caption">
              <h5>Protección Sin Límites</h5> <p>"Siempre atentos, siempre conectados" 🔍💙</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="drawable/fondoint.png" class="d-block w-100" alt="">
          <div class="carousel-caption">
              <h5>Monitoreo 24/7</h5> <p>"Porque cada segundo cuenta" ⏳💖</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="drawable/fondoint.png" class="d-block w-100" alt="">
          <div class="carousel-caption">
              <h5>Baby Save</h5> <p>"Tecnología que cuida, amor que protege" 💡👶</p>
          </div>
      </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselE1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselE1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>        
  </button>

</div>

<!-- Sección Nosotros -->
<section class="bus" id="mercedes-section">
<div class="bus-content container">
  <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
          <div class="bus-container">
              <h2>Nosotros</h2>
              <p class="txt-p">En Baby Save, creamos tecnología para brindar tranquilidad a padres y cuidadores. Nuestra plataforma inteligente permite monitorear a los bebés en tiempo real, ofreciendo alertas y herramientas avanzadas para su seguridad y bienestar. Queremos que siempre estés conectado con lo que más importa.</p>
          </div>
      </div>
      <div class="col-md-6">
          <img src="drawable/baby_imagen.png" alt="Mercedes-Benz Tourismo" class="img-fluid">
      </div>
  </div>
</div>
</section>

<!-- Sección Icons -->
<section class="section-icons">
<div class="overlay"></div>
<div class="container">
  <div class="row gy-4">
      <!-- Dimensiones -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-bus-front custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Dimensiones</h3>
                  <p id="dimensiones">Longitud de 14 metros, ancho de 2.55 metros y altura de 3.68 metros.</p>
              </div>
          </div>
      </div>
      <!-- Capacidad de Asientos -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-capslock-fill custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Capacidad de Asientos</h3>
                  <p id="seats">Hasta 63 asientos, con opciones de reclinación y apoyo lumbar.</p>
              </div>
          </div>
      </div>
      <!-- Motor -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-speedometer custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Motor</h3>
                  <p id="engine">Motor potente de 456 CV, eficiente y de bajas emisiones.</p>
              </div>
          </div>
      </div>
      <!-- Seguridad -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-shield-fill-check custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Seguridad</h3>
                  <p id="safety">Sistemas avanzados de frenado y asistencia al conductor.</p>
              </div>
          </div>
      </div>
      <!-- Confort Interior -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-cup-hot-fill custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Confort Interior</h3>
                  <p id="comfort">Asientos cómodos con calefacción, mesas plegables y reposapiés.</p>
              </div>
          </div>
      </div>
      <!-- Climatización -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-cloud-snow-fill custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Climatización</h3>
                  <p id="climate">Aire acondicionado automático para todo el autobús.</p>
              </div>
          </div>
      </div>
      <!-- Tecnología de Entretenimiento -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-badge-4k custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Tecnología de Entretenimiento</h3>
                  <p id="entertainment">Pantallas y sistemas de audio modernos.</p>
              </div>
          </div>
      </div>
      <!-- Conectividad -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-wifi custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Conectividad</h3>
                  <p id="connectivity">Wi-Fi y puertos USB en cada asiento.</p>
              </div>
          </div>
      </div>

      <!-- Espacio de Equipaje -->
      <div class="col-12 col-md-6 col-lg-4 box-icons">
          <div class="d-flex align-items-center p-3">
              <i class="bi bi-suitcase-lg-fill custom-icon"></i>
              <div class="ms-3 ms-md-4">
                  <h3>Espacio de Equipaje</h3>
                  <p id="luggage">Amplios compartimentos de 12.1 mts</p>
              </div>
          </div>
      </div>
  </div>
</div>
</section>