<div class="table-container">
    <h2 class="table-title">Lista de Productos</h2>
    <table class="custom-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <!--TENGO UN CICLO FOR DONDE CON LA INTERPOLACION MUESTRO LOS DATOS-->
            <tr *ngFor="let producto of paginaActual">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            </tr>
        </tbody>
    </table>

    <!--PAGINACION-->
    <div class="pagination-controls">
        <!---BOTONES PARA CAMBIAR DE PAGINA-->
        <button (click)="anterior()" class="pagination-btn" [disabled]="pagina === 1">Anterior</button>
        <span class="page-info">Pagina {{pagina}} de {{totalPaginas}}</span>
        <!---BOTON PARA CAMBIAR DE PAGINA-->
        <button (click)="siguiente()" class="pagination-btn" [disabled]="pagina === totalPaginas">Siguiente</button>
    </div>
</div>

