.chart-container {
    margin: 20px auto;
    padding: 32px;
    position: relative;
    width: 80vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 40px;
    margin-top: 45px;
}

.chart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.chart-title {
    background: linear-gradient(to right, #66ccff, #ebe5e5);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    margin-right: 10px;
}

/* Estilos específicos para el <select> */
select.chart-title {
    color:white; /* Color de texto oscuro para el select */
    cursor: pointer;
}

/* Estilos para las opciones del <select> */
select.chart-title option {
    color: #333; /* Color de texto oscuro */
    background-color: white; /* Fondo blanco para mejor contraste */
}

canvas {
    width: 100% !important;
    height: 100% !important;
}