<div class="container">
  <!-- Mostrar mensaje si el monitor no es válido -->
  <div *ngIf="!isMonitorValid" class="no-data-wrapper">
    <div class="no-data-message">
      <p>{{ noDataMessage }}</p>
    </div>
  </div>

  <!-- Mostrar contenido principal si el monitor es válido -->
  <div *ngIf="isMonitorValid" class="chart-wrapper">
    <div class="chart-container">
      <!-- Letrero encima de la gráfica -->
      <div class="chart-header">
        <div class="chart-title">Datos en Vivo</div>
        <div class="chart-title">Selecciona un sensor para ver su información:</div>
        <select class="chart-title" (change)="onSensorChange($event)">
          <option *ngFor="let sensor of data_sensor" [value]="sensor.id">{{sensor.Nombre_Sensor}}</option>
        </select>
        <button class="chart-title" (click)="historicas(monitorId)">Graficas Históricas</button>
      </div>
      <!-- Gráfica -->
      <canvas id="MyChart"></canvas>
    </div>
  </div>
</div>