<div class="container mt-5 pt-5">
    <div class="header-container text-center">
        <div class="chart-title">Bienvenido Admin</div>
    </div>
    <div class="text-center mt-4">
        <div class="current-time">
            <p>Fecha y hora Actual</p>
            {{ formattedTime }}
            {{ formattedDate }}
        </div>
        <div class="circle-container mt-3">
            <div class="circle-item">
                <div class="circle">
                    <i class="bi bi-person"></i>
                </div>
                <p>Total de usuarios:</p>
            </div>
           
            <div class="circle-item">
                <div class="circle">
                    <i class="bi bi-motherboard-fill"></i>
                </div>
                <p>Monitores en el sistema:</p>
            </div>
        </div>
    </div>
</div>