<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h4 class="card-title text-center">Creación de tu Monitor</h4>

      <form [formGroup]="monitorForm" (ngSubmit)="crearMonitor()">
        <div class="mb-3">
          <label for="monitorName" class="form-label">Nombre de tu Monitor:</label>
          <input type="text" id="monitorName" class="form-control" formControlName="nombre" placeholder="Ingresa mínimo 5 caracteres">
          <small class="text-danger" *ngIf="monitorForm.get('nombre')?.invalid && monitorForm.get('nombre')?.touched">
            Debe tener al menos 5 caracteres.
          </small>
        </div>

        <div class="mb-3">
          <label for="ubicacion" class="form-label">Ubicación (opcional):</label>
          <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion">
        </div>

        <p>Selecciona los datos que deseas ver en tu Monitor</p>
        <div *ngFor="let sensor of sensors" class="form-check">
          <input type="checkbox" class="form-check-input" [id]="sensor.value" [(ngModel)]="sensor.checked" name="sensor-{{sensor.value}}">
          <label class="form-check-label" [for]="sensor.value">{{ sensor.name }}</label>
        </div>

        <div class="d-grid mt-4">
          <button class="btn btn-primary" type="submit" [disabled]="monitorForm.invalid">Crear Monitor</button>
        </div>
      </form>
    </div>
  </div>
</div>
