<br><br><br>
<div class="container mt-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title text-center">Creación de tu Monitor</h4>
  
        <div class="mb-3">
          <label for="monitorName" class="form-label">Nombre de tu Monitor:</label>
          <input type="text" id="monitorName" class="form-control" placeholder="Ingresa mínimo 5 caracteres" minlength="5">
        </div>
  
        <p>Selecciona los datos que desees ver en tu Monitor</p>
        <div class="form-check">
          <input type="checkbox" id="temperatura" class="form-check-input">
          <label for="temperatura" class="form-check-label">Temperatura</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="calidadAire" class="form-check-input">
          <label for="calidadAire" class="form-check-label">Calidad del Aire</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="nivelLuz" class="form-check-input">
          <label for="nivelLuz" class="form-check-label">Nivel de Luz</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="estadoBebe" class="form-check-input">
          <label for="estadoBebe" class="form-check-label">Estado del Bebé</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="movimientoBebe" class="form-check-input">
          <label for="movimientoBebe" class="form-check-label">Movimiento del Bebé</label>
        </div>
  
        <div class="d-grid mt-4">
          <button class="btn btn-primary">Crear Monitor</button>
        </div>
      </div>
    </div>
  </div>
  