<!---FORMULARIO DE CREAR UN PRODUCTO-->
<div class="container">
    <div class="form-wrapper">
      <h2 class="form-title">Nuevo Producto</h2>

      <form [formGroup]="NuevoProducto" > <!--FORMGROUP ES PARA VINCULAR EL FORMULARIO CON EL FORMGROUP-->

        <!-- NOMBRE DEL PRODUCTO -->
      <div class="form-group">
          <label for="nombre">Nombre del producto</label>
          <input  type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Ingrese el nombre" >
      </div>
        
        <!-- PRECIO DEL PRODUCTO -->
        <div class="form-group">
          <label for="precio">Precio</label>
          <div class="price-input">
            <span class="currency">$</span>
            <!--FORMCONTROLNAME ES PARA VINCULAR CADA CAMPO CON SU RESPECTIVO FORMCONTROL-->
            <input type="number" id="precio" formControlName="precio"class="form-control" placeholder="0.00">
          </div>
        </div>
        
        <!-- BOTON EL CUAL EJECUTA MI METODO PARA LA PETICION -->
        <button (click)="postProduct()" type="button" class="submit-btn" >
          Guardar Producto
        </button>
        
      </form>
    </div>
</div>