<div class="login-container">
  <div class="background-overlay"></div>
  <div class="login-wrapper">
    <form [formGroup]="FormularioLogin">
      <h1>Iniciar Sesión</h1>

      <div class="input-box">
        <input type="email" formControlName="email" placeholder="Correo Electrónico">
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <input type="password" formControlName="password" placeholder="Contraseña">
        <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="remember-forget">
        <input type="checkbox" formControlName="rememberMe">Recuérdame
        <a routerLink="/Password" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="button" class="btn" (click)="onlogin()">Iniciar Sesión</button>

      <div class="register-link">
        <p>¿No tienes una cuenta? <br>
          <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Regístrate</a></p>
      </div>
      <div class="register-link">
        <p>¿No recibiste correo? <br>
          <a routerLink="/resend-email" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Reenvio</a></p>
      </div>
    </form>
  </div>
</div>
