<div class="login-container">
  <div class="login-wrapper">
    <form [formGroup]="FormularioLogin">
      <h1>Login</h1>

      <div class="input-box">
        <input type="email" formControlName="email" placeholder="Email">
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <input type="password" formControlName="password" placeholder="Password">
        <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="remember-forget">
        <label><input type="checkbox">Remember me</label>
        <a href="#">Forgot password?</a>
      </div>

      <button type="button" class="btn" (click)="onlogin()">Login</button>

      <div class="register-link">
        <p>Don't have an account? <br>
          <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Register</a></p>
      </div>
    </form>
  </div>
</div>