<div class="table-container">
    <h2 class="table-title">Lista de Productos</h2>
    <table class="custom-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of paginaActual">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <!--BOTON LLAMA A MI METODO DEL TS DONDE LE PASO 2 PARAMETROS EL ID Y EL NOMBRE-->
            <td><button (click)="deleteProduct(producto.id,producto.nombre)" class="delete-btn">Eliminar</button></td>
            </tr>
        </tbody>
    </table>

    <!--PAGINACION-->
    <div class="pagination-controls">
        <button (click)="anterior()" class="pagination-btn" [disabled]="pagina === 1">Anterior</button>
        <span class="page-info">Pagina {{pagina}} de {{totalPaginas}}</span>
        <button (click)="siguiente()" class="pagination-btn" [disabled]="pagina === totalPaginas">Siguiente</button>
    </div>
</div>