<div class="password-container">
  <div class="overlay"></div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Recuperar Contraseña</h3>
            <form [formGroup]="FormularioRecovery">
              <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" class="{{ isSubmitting ? 'opacity' : '' }}">
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="onRecover()" [disabled]="isSubmitting" class="{{ isSubmitting ? 'opacity' : '' }}">Buscar</button>
              </div>
              <div class="register-link">
                <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Regresar</a>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>