.navbar a {
    font-weight: 600;
    font-size: 0.9rem; 
    color: #5a9bd3;
    position: relative;
    transition: all 0.3s ease;
}

.custom-navbar {
    background: linear-gradient(to right, #e7f7fe, #d2effd);
    border-bottom: 3px solid #d1ecf1;
    box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3);
}

.logo-img{
    height: 40px;
    width: auto;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.nav-link.active {
    background: linear-gradient(to right, #e7f7fe, #d2effd);
    color: #0078d7;
    pointer-events: none;
    cursor: default;
    border-radius: 14px;
    padding: 8px 16px;
    box-shadow: inset 0 0 6px rgba(0, 160, 240, 0.9);
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #5a9bd3;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px; 
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #0078d7;
}

.navbar-brand .badge {
    background-color: #e0f2f7;
    color: #0078d7;
}


@media (max-width: 976px){

    .navbar a {
        text-align: center;
    }

    .nav-item{
        padding: 10px;
    }
}