.monitor-card {
    width: 280px; 
}

.card {
    background: linear-gradient(145deg, #dff6ff, #b3e0f2);
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
}

.card h2 {
    color: #0077b6;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.card h4 {
    color: #023e8a;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

.rounded-btn {
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para los iconos modernos */
.rounded-btn i {
    font-size: 22px;
    transition: transform 0.2s ease-in-out;
    color: white;
}

.rounded-btn:hover i {
    transform: scale(1.2);
}

/* Botón de edición */
.edit-btn {
    background-color: #0077b6;
    color: white;
}

.edit-btn:hover {
    background-color: #005b8e;
}

/* Botón de eliminación */
.delete-btn {
    background-color: #ff6b6b;
    color: white;
}

.delete-btn:hover {
    background-color: #d62828;
}
