<div class="custom-container mt-5">
    <div class="custom-profile-header text-center mb-4">
        <div class="custom-profile-picture">
            <img src='drawable/xdd.jpeg' class='img-fluid rounded-circle' alt='Foto de perfil'>
        </div>
        <div class="custom-profile-info mt-3">
            <h1>Oswaldo</h1>
            <p class='text-light'>Rol no disponible</p>
        </div>
    </div>
    <div class="card custom-card shadow-sm">
        <div class="card-body custom-card-body">
            <h2 class="custom-card-title">Información Adicional</h2>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">
                        <i class='bi bi-envelope me-2'></i> <strong>Correo Electrónico</strong>
                    </label>
                    <input type="email" class="form-control" id="email" value="correo@ejemplo.com" readonly>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">
                        <i class='bi bi-key me-2'></i> <strong>Contraseña</strong>
                    </label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" value="12345678" readonly>
                        <button type="button" class="btn btn-primary">Editar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>