<div class="custom-container mt-5">
    <div class="custom-profile-header text-center mb-4">
        <div class="custom-profile-picture">
            <img src='drawable/xdd.jpeg' class='img-fluid rounded-circle' alt='Foto de perfil'>
        </div>
        <div class="custom-profile-info mt-3">
            <h1>Oswaldo</h1>
            <p class='text-light'>Rol no disponible</p>
        </div>
    </div>
    <div class="card custom-card shadow-sm">
        <div class="card-body custom-card-body">
            <h2 class="custom-card-title">Información Adicional</h2>
            <ul class="list-unstyled custom-list-unstyled">
                <li><i class='bi bi-calendar2-week'></i><strong> Último Ingreso:&nbsp;</strong> No disponible</li>
                <li><i class='bi bi-credit-card'></i><strong> CURP:&nbsp;</strong> No disponible</li>
                <li><i class='bi bi-gift'></i><strong> Fecha de Nacimiento:&nbsp;</strong> No disponible</li>
                <li><i class='bi bi-file-earmark-text'></i><strong> RFC:&nbsp;</strong> No disponible</li>
            </ul>
        </div>
    </div>
</div>