@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import 'ngx-toastr/toastr';

* {
    font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(to right, #e7f7fe, #d2effd)!important;
  
}

.btn-group {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    width: 100%;
    box-sizing: border-box;
}

.custom-btn{
    width: 100%;
    font-size: 0.9rem;
    border-radius: 10px;
    margin: auto;
}

.container {
    position: relative;
    z-index: 2;
}

/* You can add global styles to this file, and also import other style files */

/* Personalización de colores para los toasts */
.toast-success {
  background-color: #51A351 !important;
}

.toast-error {
  background-color: #BD362F !important;
}

.toast-info {
  background-color: #2F96B4 !important;
}

.toast-warning {
  background-color: #F89406 !important;
}