<div class="container mt-4">
    <div class="chart-title mb-4">Gestión de Usuarios</div>
    <div class="search-container mb-4">
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
            <input 
                type="text" 
                class="form-control search-input" 
                placeholder="Buscar usuario..."
                aria-label="Buscar usuario">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-header">
                <tr>
                    <th>ID Usuario</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Fecha de Registro</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>John Doe</td>
                    <td>john.com</td>
                    <td>01/03/2024</td>
                    <td><span class="badge bg-success">Activo</span></td>
                    <td>
                        <button class="btn btn-danger btn-sm">
                            <i class="bi bi-person-x-fill"></i> Desactivar
                        </button>
                    </td>
                </tr>
    
                <tr>
                    <td>001</td>
                    <td>John Doe</td>
                    <td>john.com</td>
                    <td>01/03/2024</td>
                    <td><span class="badge bg-success">Activo</span></td>
                    <td>
                        <button class="btn btn-danger btn-sm">
                            <i class="bi bi-person-x-fill"></i> Desactivar
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
   
</div>