<div class="container">
  <div class="chart-wrapper">
      <div class="chart-container">
        <!-- Letrero encima de la gráfica -->
        <div class="chart-header">
          <div class="chart-title">Datos del sensor por hora</div>
          <div class="chart-title">Selecciona un sensor para ver su información:</div>
          <div class="status-filter">
            <select class="select-styled" [(ngModel)]="sensorSeleccionado"
            (change)="onSensorChange($event)">
                <option value="1" selected>Sensor 1</option>
                <option value="2">Sensor 2</option>
                <option value="3">Sensor 3</option>
                <option value="4">Sensor 4</option>
                <option value="5">Sensor 5</option>
            </select>
        </div>
        </div>
        <!-- Gráfica -->
        <canvas id="MyChart"></canvas>
      </div>
    </div>
</div>